# Sign using this key (MUST NOT have a passphrase)
signing_key = "0000000000000000000000000000000000000000"

# Encrypt messages to this key, in addition to the recp. key
encrypt_to = "0000000000000000000000000000000000000000"

# Outbound SMTP Server data
smtp_out_add = "smtp.provider.tld"
smtp_out_port = 465  # As Integer

# Outbound SSL setting
smtp_out_force_ssl = True

# GnuPG home directory (MUST exist and contain all relevant keys)
# Relevant keys are:
# * signing_key
# * encrypt_to
# * All recipient keys
gpg_home = "/path/to/gnupghome"

# Signature to be added to encrypted / signed messages
mail_signature_signed = "\n\n--\nThis message was automatically PGP-signed."
mail_signature_encrypted = "\n\n--\nThis message was automatically PGP-encrypted."
# Consider adding an URL explaining your signing policies or similar 
# information